{% extends '_template.html.twig' %}

{% block css %}

    @import "css/product.css";

{% endblock %}


{% block header %}



{% endblock %}

{% block script %}

    function confirm_click(){
    return confirm("Are you sure ?");
    }

{% endblock %}



{% block main %}





    <table>

        <tr>
            <th colspan="7">
                <h2>Staff</h2>
            </th>
        </tr>

        <tr>
            <th>Id</th>
            <th>User Name</th>
            <th>Password</th>
            <th>Admin</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>

        {% for member in staff %}

            <tr>
                <td>
                    {{ member.id}}
                </td>
                <td>
                    {{ member.userName}}
                </td>

                <td>
                    {{ member.password}}
                </td>

                <td>
            {% if member.privilege  == 1 %}
                        Admin
            {% else %}
                    Standard
                {% endif %}
                </td>

                <td>

                    <a href="index.php?action=editStaff&id={{ member.id }}">Edit</a>

                </td>
                <td>
                    <a title="Delete User"   href="index.php?action=deleteStaff&id={{ member.id }}">Delete</a>

                    {#onClick="return confirm_click();"#}

                </td>
            </tr>


        {% endfor %}

    </table>




{% endblock %}