{% extends '_template.html.twig' %}

{% block css %}

    @import "/css/editForm.css";

    {% endblock %}


{% block header %}


    {% endblock %}

{% block script %}

    {% endblock %}


{% block main %}


    <form action="/index.php"  method="post" enctype="multipart/form-data">
        <input type="hidden" name="action" value="processLeagueUpdate">


        <h1>Edit League</h1>


        <label>Id:</label><input type="text" name="id" value="{{ league.id }}" readonly>
        <p>
        <label>Name:</label><input type="text" name="name" value="{{ league.name }}" autofocus>
        <p>
        <label>Country:</label><input type="text" name="country" value="{{ league.country }}">
        <p>
        <label>Current Image:</label>{{ league.drone }}
        <input type="hidden" name="imageName" value="{{ league.drone }}">
        <p>
        <label>Choose Image:</label><input type="file" name="upload">
        <p>
        <label>Position:</label><input type="number" min="0" name="position" value="{{ league.position }}" >
        <p>

        <label> </label><input type="submit" value="Update" id="submitButton">

    </form>



{% endblock %}