{% extends '_template.html.twig' %}


{% block css %}

    @import "css/product.css";
    @import "css/editForm.css";

{% endblock %}



{% block header %}



{% endblock %}



{% block main %}

    <form action="index.php?action=processVisitorUpdate"  method="post" >



                              <h1>Edit Account</h1>


        <label>Id:</label><input type="text" name="id" value="{{ visitor.id }}" readonly>
        <br>
        <label>First Name:</label><input type="text" name="firstName" value="{{ visitor.firstName }}">
        <br>
        <label>Second Name:</label><input type="text" name="secondName" value="{{ visitor.secondName }}">
        <br>
        <label>Country:</label><input type="text" name="country" value="{{ visitor.country }}">
        <br>
        <label>Email:</label><input type="text"name="email" value="{{ visitor.email }}">
        <br>

        <label> </label><input type="submit" value="Update" id="submitButton">

    </form>



{% endblock %}