{% extends '_template.html.twig'%}

{% block leaguePageCurrent %}
    current_page
{% endblock %}


{% block css %}

@import "/css/leaguePage.css";

{% endblock %}

{% block script %}
    function confirm_click(){
    return confirm("Are you sure ?");
    }
{% endblock %}


{% block main %}

    <table>

        <div id="searchBox">
            <form action="/index.php" method="post">
                    <input type="hidden" name="action" value="searchLeague">
                <p>
                    Search League Table:&nbsp;<input type="search" name="search" id="searchField" autofocus>
                <p>
                    <input type="submit" value="Search" id="searchSubmitButton">
            </form>
        </div>

        {% if link == true %}

            <a href="/index.php?action=leaguePage" id="backToLeaguePage">Back To League Page</a>

        {% endif %}

        <tr>

            <th
                {% if session.privilege == 'Administrator'  %}
                    colspan="7"
                {% else %}
                    colspan="5"
                {% endif %}
                    >
                    <h1 id="heading">{{ heading }}</h1>

                {% if session.privilege == 'Administrator'  %}
                    <h2><a href="/index.php?action=addLeagueMemberPage" id="addLink">Add Member</a></h2>
                {% endif %}
            </th>

        </tr>

            {% if heading != 'No League Data Available' %}
                <tr>
                        <th>World Ranking</th>
                        <th>Name</th>
                        <th>Drone</th>
                        <th>Country</th>

                    {% if session.privilege == 'Administrator'  %}
                        <th>Edit</th>
                        <th>Delete</th>
                    {% endif %}

                 </tr>
            {% endif %}

        {% for league in leagueMember %}




            <tr>
                <a href="index.php?action=displaySingleMember&id={{ league.id }}" >

                    <td>
                        <a href="index.php?action=displaySingleMember&id={{ league.id }}" class="linkColor">
                            {{ league.position }}
                        </a>
                    </td>
                    <td>
                        <a href="index.php?action=displaySingleMember&id={{ league.id }}" class="linkColor">
                            {{ league.name }}
                        </a>
                    </td>
                    <td>
                        <a href="index.php?action=displaySingleMember&id={{ league.id }}" >
                            <img src="/images/{{ league.drone }}" class="image" alt="No Image">
                        </a>
                    </td>
                    <td>
                        <a href="index.php?action=displaySingleMember&id={{ league.id }}"class="linkColor" >
                            {{ league.country }}
                        </a>
                    </td>

                </a>

            {% if session.privilege == 'Administrator' %}
                <td>
                    <a href="/index.php?action=editLeagueMember&id={{ league.id }}" class="linkColor">Edit</a>
                </td>
                <td>
                    <a title="Delete User" onClick="return confirm_click();"  href="/index.php?action=deleteLeagueMember&id={{ league.id }}" class="linkColor">Delete</a>
                </td>
                {% endif %}


            </tr>




        {% endfor %}

    </table>



{% endblock %}