{% extends '_template.html.twig'%}

{% block leaguePageCurrent %}
    current_page
{% endblock %}


{% block css %}

@import "/css/leaguePage.css";

{% endblock %}

{% block script %}
    function confirm_click(){
    return confirm("Are you sure ?");
    }
{% endblock %}


{% block main %}

    <table>

        <tr>
            <th
    {% if session.privilege == 'Administrator'  %}
        colspan="7"
        {% else %}
            colspan="5"
            {% endif %}
            >
                <h1>League Results</h1>

    {% if session.privilege == 'Administrator'  %}
                <h2><a href="/index.php?action=addLeagueMemberPage" id="addLink">Add Another Member</a></h2>
        {% endif %}
            </th>

        </tr>

        <tr>
            <th>Name</th>
            <th>Country</th>
            <th>Drone</th>
            <th>World Ranking</th>

    {% if session.privilege == 'Administrator'  %}
            <th>Edit</th>
            <th>Delete</th>
        {% endif %}

        </tr>

        {% for league in leagueMember %}




            <tr>
                <a href="index.php?action=displaySingleMember&id={{ league.id }}" >

                    <td>
                        <a href="index.php?action=displaySingleMember&id={{ league.id }}" >
                            {{ league.name }}
                        </a>
                    </td>
                    <td>
                        <a href="index.php?action=displaySingleMember&id={{ league.id }}" >
                            {{ league.country }}
                        </a>
                    </td>
                    <td>
                        <a href="index.php?action=displaySingleMember&id={{ league.id }}" >
                            <img src="/images/{{ league.drone }}" class="image" alt="No Image">
                        </a>
                    </td>
                    <td>
                        <a href="index.php?action=displaySingleMember&id={{ league.id }}" >
                            {{ league.position }}
                        </a>
                    </td>

                </a>

            {% if session.privilege == 'Administrator' %}
                <td>
                    <a href="/index.php?action=editLeagueMember&id={{ league.id }}">Edit</a>
                </td>
                <td>
                    <a title="Delete User" onClick="return confirm_click();"  href="/index.php?action=deleteLeagueMember&id={{ league.id }}">Delete</a>
                </td>
                {% endif %}


            </tr>




        {% endfor %}

    </table>



{% endblock %}