{% extends '_template.html.twig' %}

{% block css %}
    @import "/css/product.css";
    {% endblock %}

{% block displayProductCurrent %}
    current_page
{% endblock %}

{% block script %}
    function confirm_click(){
        return confirm("Are you sure ?");
    }
    {% endblock %}


{% block main %}


    <table>

        <tr>
            <th
    {% if session.privilege == ( 'Standard' or 'Administrator')  %}
        colspan="7"
        {% else %}
            colspan="5"
            {% endif %}
            >
                <h1>Products Available</h1>

    {% if session.privilege == ( 'Standard' or 'Administrator')  %}
                <h2><a href="/index.php?action=addProduct" id="addProductLink">Add Product</a ></h2>
        {% endif %}
            </th>
        </tr>

        <tr>
    {% if session.privilege == ( 'Standard' or 'Administrator')  %}
            <th>Id</th>
        {% endif %}
            <th>Name</th>
            <th>Price</th>
            <th>Image</th>
            <th>Description</th>

    {% if session.privilege == ( 'Standard' or 'Administrator')  %}
            <th>Edit</th>
            <th>Delete</th>
        {% endif %}

        </tr>

        {% for product in products %}

            <tr>
            {% if session.privilege == ( 'Standard' or 'Administrator')  %}
                <td>
                    <a href="index.php?action=displaySingleProduct&id={{ product.id }}">
                    {{ product.id }}
                    </a>
                </td>
                {% endif %}

                <td>
                    <a href="index.php?action=displaySingleProduct&id={{ product.id }}">
                    {{ product.Name }}
                    </a>
                </td>
                <td>
                    <a href="index.php?action=displaySingleProduct&id={{ product.id }}">
                    &euro; {{ product.Price }}
                    </a>
                </td>
                <td>
                    <a href="index.php?action=displaySingleProduct&id={{ product.id }}">
                        <img src="images/{{ product.Image}}" alt="No Image" class="image" >
                    </a>
                </td>
                <td>
                    <a href="index.php?action=displaySingleProduct&id={{ product.id }}">
                    {{ product.Description}}
                    </a>
                </td>

            {% if session.privilege == ( 'Standard' or 'Administrator')  %}
                <td>
                    <a href="index.php?action=editProduct&id={{ product.id }}">Edit</a>
                </td>
                <td>
                    <a title="Delete User"  onClick="return confirm_click();" href="index.php?action=deleteProduct&id={{ product.id }}">Delete</a>
                </td>
                {% endif %}

            </tr>


    {% endfor %}

</table>


{% endblock %}