{% extends '_template.html.twig' %}

{% block css %}
    @import "/css/product.css";
    {% endblock %}

{% block displayProductCurrent %}
    current_page
{% endblock %}

{% block script %}
    function confirm_click(){
        return confirm("Are you sure ?");
    }
    {% endblock %}


{% block main %}


    <table>
        <div id="searchBox">
            <form action="/index.php" method="post">
                <input type="hidden" name="action" value="searchProducts">
                    <p>
                    Search Products:&nbsp;<input type="search" name="search">
                    <p>
                    <input type="submit" value="Search" id="searchSubmitButton">
            </form>
        </div>

    {% if link == true %}
        <a href="/index.php?action=displayProduct" id="backToProductsLink">Back To Products</a>
    {% endif %}

        <tr>
            <th
    {% if session.privilege == ( 'Standard' or 'Administrator')  %}
        colspan="7"
        {% else %}
            colspan="5"
            {% endif %}
            >
                <h1>{{ heading }}</h1>

    {% if session.privilege == ( 'Standard' or 'Administrator')  %}
                <h2><a href="/index.php?action=addProduct" id="addProductLink">Add Product</a ></h2>
        {% endif %}
            </th>
        </tr>

        <tr>
    {% if session.privilege == ( 'Standard' or 'Administrator')  %}
            <th>Id</th>
        {% endif %}
            <th>Name</th>
            <th>Price</th>
            <th>Image</th>
            <th>Description</th>

    {% if session.privilege == ( 'Standard' or 'Administrator')  %}
            <th>Edit</th>
            <th>Delete</th>
        {% endif %}

        </tr>

        {% for product in products %}

            <tr>
            {% if session.privilege == ( 'Standard' or 'Administrator')  %}
                <td>
                    <a href="index.php?action=displaySingleProduct&id={{ product.id }}">
                    {{ product.id }}
                    </a>
                </td>
                {% endif %}

                <td>
                    <a href="index.php?action=displaySingleProduct&id={{ product.id }}" class="linkColor">
                    {{ product.name }}
                    </a>
                </td>
                <td>
                    <a href="index.php?action=displaySingleProduct&id={{ product.id }}" class="linkColor">
                    &euro; {{ product.price }}
                    </a>
                </td>
                <td>
                    <a href="index.php?action=displaySingleProduct&id={{ product.id }}">
                        <img src="images/{{ product.image}}" alt="No Image" class="image" >
                    </a>
                </td>
                <td>
                    <a href="index.php?action=displaySingleProduct&id={{ product.id }}" class="linkColor">
                    {{ product.description}}
                    </a>
                </td>

            {% if session.privilege == ( 'Standard' or 'Administrator')  %}
                <td>
                    <a href="index.php?action=editProduct&id={{ product.id }}" class="linkColor">Edit</a>
                </td>
                <td>
                    <a title="Delete User"  onClick="return confirm_click();" href="index.php?action=deleteProduct&id={{ product.id }}" class="linkColor">Delete</a>
                </td>
                {% endif %}

            </tr>


    {% endfor %}

</table>


{% endblock %}