{% extends '_template.html.twig' %}


{% block css %}
    @import "/css/staff.css";
{% endblock %}


{% block staffCurrent %}
    current_page
{% endblock %}


{% block script %}
    function confirm_click(){
    return confirm("Are you sure ?");
    }
{% endblock %}


{% block main %}

    <table>

        <tr>

            <th

    {% if session.privilege == 'Administrator' %}
        colspan="7"
        #{% else %}
        colspan="5"
        {% endif %}
            >
                <h1>Staff</h1>

    {% if session.privilege == 'Administrator' %}
                <h2><a href="/index.php?action=createStaff" id="addStaffLink">Add Staff</a></h2>
        {% endif %}

            </th>
        </tr>

        <tr>
            <th>Id</th>
            <th>User Name</th>
            <th>Password</th>
            <th>Account</th>
            {% if session.privilege == 'Administrator' %}
            <th>Edit</th>
            <th>Delete</th>
                {% endif %}
        </tr>

        {% for member in staff %}

            <tr>
                <td>
                    {{ member.id}}
                </td>
                <td>
                    {{ member.userName}}
                </td>

                <td>
                    {{ member.password}}
                </td>

                <td>
            {% if member.privilege  == 1 %}
                        Admin
            {% else %}
                    Standard
                {% endif %}
                </td>

            {% if session.privilege == 'Administrator' %}
                <td>
                    <a href="/index.php?action=editStaff&id={{ member.id }}">Edit</a>
                </td>
                <td>
                    <a title="Delete User" onClick="return confirm_click();"  href="/index.php?action=deleteStaff&id={{ member.id }}">Delete</a>
                </td>
                {% endif %}
            </tr>


        {% endfor %}

    </table>

{% endblock %}